.place__title {
  margin: 0;
  padding: 0;
  max-width: 460px;
  min-height: 152px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  color: #fff;
  outline: 1px red solid;
}

@media screen and (max-width: 1279px) {
  .place__title {
    max-width: 440px;
    min-height: 152px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    max-width: 340px;
    min-height: 92px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 539px) {
  .place__title {
    width: 288px;
    min-height: 35px;
    font-size: 32px;
    line-height: 35px;
  }
}
