.place__paragraph-container {
  margin: 0;
  max-width: 484px;
  display: flex;
  row-gap: 26px;
  flex-flow: column nowrap;
  justify-self: start;
  outline: 1px red solid;
}

@media screen and (max-width: 1279px) {
  .place__paragraph-container {
    row-gap: 27px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph-container {
    max-width: 352px;
    row-gap: 25px;
  }
}

@media screen and (max-width: 539px) {
  .place__paragraph-container {
    width: 288px;
    justify-self: center;
  }
}
