.place__image {
  margin: 0;
  padding: 0;
  max-width: 460px;
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
  outline: 1px red solid;
}

@media screen and (max-width: 1279px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 539px) {
  .place__image {
    max-width: 320px;
    grid-row: 3;
  }
}
