.intro__text {
  margin: 40px 0 33px;
  max-width: 690px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 288px;
  }
}
