.place__url-heading {
  max-width: 456px;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #aaa;
  letter-spacing: 2px;
}
