.intro__title {
  margin: 0;
  padding: 0;
  max-width: 690px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
